[submodule "midi_processing"]
	path = midi_processing
	url = https://github.com/kode54/midi_processing.git
[submodule "nlohmann_json"]
	path = nlohmann_json
	url = https://github.com/nlohmann/json.git
